<div ng-controller="MyCtrl1">
	<p>This is the partial for view 1.</p>
	<p ng-show="visible">Hello {{who}}</p>
	<input type="button" value="Show" ng-click="visible=true"/>
	<input type="button" value="Hide" ng-click="visible=false"/>

	<input type="button" value="Show" ng-click="show()"/>
	<input type="button" value="Hide" ng-click="hide()"/>

	<input type="button" value="Show List" ng-click="showList()"/>
	<div ng-repeat="turtle in turtles">
		<p>{{turtle.name}}</p>
	</div>
	<p>Turtles: {{ turtles }}</p>
</div>